<section class="content">
    <div class="informacion">
        <h1>@ViewBag.InfoPartido.Nombre</h1>
        <img src="@ViewBag.InfoPartido.Logo">
        <h3>Fecha de fundación: @ViewBag.InfoPartido.FechaFundacion.ToShortDateString()</h3>
        <h4>Cantidad diputados: @ViewBag.InfoPartido.CantidadDiputados</h4>
        <h4>Cantidad senadores: @ViewBag.InfoPartido.CantidadSenadores</h4>
        <h4><a href="@ViewBag.InfoPartido.SitioWeb.">Sitio web aquí</a></h4>
    </div>

    <div class="candidatos">
        <h1>Candidatos</h1>
        <ul>
            @foreach (Candidato item in ViewBag.ListaCandidatos)
            {
                <div>
                    <a
                        href='@Url.Action("DetalleCandidato", new{IdCandidato=@item.IdCandidato})'>@item.Nombre
                        @item.Apellido</a>
                    <a
                        href='@Url.Action("ConfirmarEliminarCandidato", new{IdPartido=@ViewBag.InfoPartido.IdPartido, IdCandidato=@item.IdCandidato})'><img
                            src="/img/eliminar.jpg" height="25px"></a>
                </div>
            }
        </ul>

        <a class="agreCandi"
            href='@Url.Action("AgregarCandidato", new{IdPartido=@ViewBag.InfoPartido.IdPartido})'>Agregar
            candidato</a>
    </div>
</section>
