<a href='@Url.Action("DetallePartido",new{IdPartido=@ViewBag.InfoCandidato.FkPartido})'>Volver</a>
<h1>@ViewBag.InfoCandidato.Nombre @ViewBag.InfoCandidato.Apellido</h1>
<h3>@ViewBag.InfoCandidato.FechaNacimiento</h3>
<img src="@ViewBag.InfoCandidato.Foto" alt="foto">
<h4>@ViewBag.InfoCandidato.Postulacion</h4>
