<section class="content">
    <div class="informacion">
        <a href='@Url.Action("DetallePartido",new{IdPartido=@ViewBag.InfoCandidato.FkPartido})'>Volver</a>
        <h1>@ViewBag.InfoCandidato.Nombre @ViewBag.InfoCandidato.Apellido</h1>
        <h3>@ViewBag.InfoCandidato.Postulacion</h3>
        <h3>FechaNacimiento: @ViewBag.InfoCandidato.FechaNacimiento.ToShortDateString()</h3>
        <img src="@ViewBag.InfoCandidato.Foto" alt="foto">
    </div>
</section>
